---
# tasks file for mariadb
- name: Installation de python-mysqldb
  apt: name=python-mysqldb state=present

- name: Installation de mariadb-server
  apt: name=mariadb-server state=present

- name: Create mysql database
  mysql_db: name={{ glpi_dbname }} state=present

- name: Create mysql user
  mysql_user: 
         name={{ glpi_dbuser }} 
         password={{ glpi_dbpasswd }} 
         priv=*.*:ALL

